/**
 * 	@author Dominik Guzei
 *	Project: StyleKit - Qualifikationsprojekt 1
 *	Fachhochschule Salzburg
 *
 *	This files provides basic styles for the iframe
 *	used by code mirror.
 */

.CodeMirror-line-numbers {
	padding: .4em;
  	font-family: monospace;
  	font-size: 10pt;
  	color: grey;
  	text-align:right;	
}

.CodeMirror-line-numbers div {
	padding: 0;
}
